@import 'include-media';

.main {
    margin-top: 48px;
    background: #000;
    width: 100vw;
    z-index: 5;
}

.linkContainer {
    padding-bottom: 50px;
    text-align: center;
    margin-top: 5px;

    a {
        color: #2997ff;
        font-size: 16px;
        text-align: center;
    }
}

.videoContainer {
    width: 100%;

    video {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        height: 350px;
        margin: auto;
        z-index: 99;
    }
}

.section {
    background: #fafafa;

    h1 {
        font-size: 36px;
    }

    h2 {
        font-weight: 400;
    }
}

.imgContainer {
    padding-bottom: 50px;
    margin-top: 50px;

    img {
        position: relative;
        left: 50%;
        transform: translate(-50%);
        width: 100%;
        margin-top: -50px;
    }
}

@include media('>786px') {
    .imgContainer {
        img {
            width: 50%;
        }
    }

    .linkContainer {
        a {
            font-size: 24px;
        }
    }

    .videoContainer {
        video {
            height: auto;
            width: 70%;
        }
    }

    .section {
        background: #fafafa;

        h1 {
            font-size: 58px;
        }
    }
}
