@import 'include-media';
 
.section{
    background-color:#fbfbfd;
    font-weight: 600;
}
.container{
    text-align: center;
background-color: #fbfbfd;
font-weight: 600;

    a{
        font-size: 25px;
        text-decoration: none;
        color: #2997ff;
       
    
    &:hover {
        text-decoration: underline;
      }
}
}

@include media('<786px'){
    .imgContainer{
        width: 200%;
        left: 50%;
        transform: translate(-50%);
        position: relative;

    }
    .container{

        a{
            font-size: 18px;
        }
    }
}