@import 'include-media';
.productContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: black
  }
  
  .product {
    width: 48%;
    background-color: #000000;
    padding: 30px;
    margin: 15px;
    
    
  }
  
  .textContainer {
    margin-bottom: 20px;
  text-align: center;

    h3 {
      font-size: 28px;
      font-weight: 500;
      margin-bottom: 5px;
      text-transform: uppercase;
    }
  
    p {
      font-size: 14px;
      color:rgba(206, 13, 13, 0.827);
      margin-bottom:20px ;
    }
    
    h2 {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 20px;
    
  }
}
  
  .imgContainer {
    display: flex;
    justify-content: center;
  
    img {
      width: 80%;
      height: auto;
     
    }
  }
  @include media('<786px') {
    .productContainer {
        flex-direction: column;
    
        .product {
          width: 100%;
          margin-bottom: 20px;
        }
      }
  }